## Python Indentation

In [1]:
if 2>1:
    print('')
for i in range(2):
    print(i)
def function_name():
    print('')
    
'''
All the lines in a block must use the same indentation, either space or a tab

Do not mix space and tab in the same block.
'''

0
1

'\nAll the lines in a block must use the same indentation, either space or a tab\n\nDo not mix space and tab in the same block.\n'

## Comments

In [2]:
#single line comments
print('a') # for proper documentation and future reference

a

In [3]:
'''
multi 1
'''
print('a')

a

In [4]:
"""
multi 2
"""
print('b')

b

## Variables

In [5]:
#Variables: Containers for storing the values

#Python Dynamically typed language

In [6]:
#Naming Convention & Keywords
"""
variable must start with a letter or the underscore character (not number)
Variable are case-sensitive
variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
"""

'\nvariable must start with a letter or the underscore character (not number)\nVariable are case-sensitive\nvariable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )\n'

In [7]:
#Unique assignments in python

In [8]:

a,b = 7,"ashish"
print(a,b)

7 ashish

In [9]:
x=y=z=1
print(x,y,z)

1 1 1

In [10]:
a = 1
b=2
c=3
a, b, c = c,b,a
print(a,b,c)

3 2 1

In [11]:
#unpacking
players=["Kohli","Rohit"]
captain,vice_captain=players
print(captain,vice_captain,sep="-")

Kohli-Rohit

In [12]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [13]:
#global vs local variable
a=3
def GlobalVsLocal():
    #global a
    a=2
    print(a)
GlobalVsLocal()
print(a)

2
3

In [14]:
#Output Variable

In [15]:
x=7
print(x)
y="ashish"
print(y+" goyal")

7
ashish goyal

In [16]:
print("ashish","goyal",sep=',')

ashish,goyal

In [17]:
print("Ashish",end=",")
print("Goyal",end="-")
print("07")

Ashish,Goyal-07

## Memory Concept

In [18]:
x=9
y=x
print(id(x))
print(id(y))
x=10

4340824672
4340824672

In [19]:
print(x)

10

In [20]:
print(y)

9

In [21]:
print(id(x))
print(id(y))

4340824704
4340824672

## User Input

In [22]:
x=input()
print("hi "+x)

1
hi 1

In [23]:
age=input("Enter your age")
print(age)

Enter your age1
1

## Basic Data Types

In [24]:
#int, float, str, bool,complex -> Numbers

In [25]:
x=1
print(x,type(x))
y=1.2
print(y,type(y))
z1="ashish1"
print(z1,type(z1))
z2='ashish2'
print(z2,type(z2))
z3="""
ashish3
"""
print(z3,type(z3))
b=True
print(b,type(b))
z=1+2j
print(z,type(z))

1 <class 'int'>
1.2 <class 'float'>
ashish1 <class 'str'>
ashish2 <class 'str'>

ashish3
 <class 'str'>
True <class 'bool'>
(1+2j) <class 'complex'>

In [26]:
#TYPE CASTING

In [27]:
y=int(2.3)
print(y)
x=float("2.4")
print(x)
z=str(2.5)
print(z,type(z))
t=complex(3)
print(t)
y=complex("1+9j")
print(y,type(y))

2
2.4
2.5 <class 'str'>
(3+0j)
(1+9j) <class 'complex'>

## Operators

In [28]:
'''
A) arithmetic operators:
+
-
*
/
//
%
**

precedence:
() 
**  
* / // %
+ -
'''

'\nA) arithmetic operators:\n+\n-\n*\n/\n//\n%\n**\n\nprecedence:\n() \n**  \n* / // %\n+ -\n'

In [29]:
2+3*5

17

In [30]:
'''
B) Comparison operators: return boolean
>
<
>=
<=
==
!=
'''

'\nB) Comparison operators: return boolean\n>\n<\n>=\n<=\n==\n!=\n'

In [31]:
'''
C) Logical operators:
and
or
not
'''

'\nC) Logical operators:\nand\nor\nnot\n'

In [32]:
'''
x op y

if x and y are T/F then output T/F
if x and y are int etc then answer also

if x and y are non boolean then result is also not boolean
'''

'\nx op y\n\nif x and y are T/F then output T/F\nif x and y are int etc then answer also\n\nif x and y are non boolean then result is also not boolean\n'

In [33]:
4 and 5

5

In [34]:
4<5 and 6

6

In [35]:
6<8 and 7>8

False

In [36]:
'''
D) Assignment operators:
=
+=
-=
*=
/=
%=

Assignment priority < arthmetic
'''

'\nD) Assignment operators:\n=\n+=\n-=\n*=\n/=\n%=\n\nAssignment priority < arthmetic\n'

In [37]:
x=5
x*=3+4
x

35

In [38]:
x=5
x=x*3+4
x

19

In [39]:
'''
E) Identity operators:
is : Returns True if both variables are the same object
is not : 
'''
x=1
y=x
print(x is y)

x=['a1']
y=['a1']
z=x
print(id(x),id(y),id(z),"\n")
print(z is x)
print(y is x)
print(x==y)

True
140566114281920 140566114332288 140566114281920

True
False
True

In [40]:
x=5
y=5
print(x==y)#compare content and type
print(x is y)
y=6
print(x is y)

# x is y true -> means refer to same location

True
True
False

In [41]:
'''
F) Membership operators:
in : Returns True if a sequence with the specified value is present in the object
not in
'''

'\nF) Membership operators:\nin : Returns True if a sequence with the specified value is present in the object\nnot in\n'

In [42]:
'x' in "xyz"

True

## String

In [43]:
a='as'
b="as"
c="""A
B
C"""

In [44]:
c

'A\nB\nC'

In [45]:
a="ashish"
print(a[1])

s

In [46]:
for i in "Ashish":
    print(i)
print("len is",len("ashish"))

A
s
h
i
s
h
len is 6

In [47]:
#slicing
text="Ashish Goyal Bangalore India"
print(text[1:4])
print(text[:4])
print(text[4:])
print(text[-5:-3])

shi
Ashi
sh Goyal Bangalore India
In

In [48]:
#some imp methods
print(text.upper())
print(text.lower())
print("  ashish goyal  ".strip())
print(text.split())

ASHISH GOYAL BANGALORE INDIA
ashish goyal bangalore india
ashish goyal
['Ashish', 'Goyal', 'Bangalore', 'India']

In [49]:
c="ashish"+"goyal"
print(c)
d="Hi"
print(d*3)

ashishgoyal
HiHiHi

In [50]:
t="year {} {} {}"
print(t.format(2020,2021,2022))

year 2020 2021 2022

In [51]:
t="year {1} {2} {0}"
print(t.format(2020,2021,2022))

year 2021 2022 2020

In [52]:
print("captain of Indian Cricket Team: "Virat" Kohli")

SyntaxError: invalid syntax (<ipython-input-52-f3bb3cc03b6a>, line 1)

In [53]:
print("captain of Indian Cricket Team: \"Virat\" Kohli")

captain of Indian Cricket Team: "Virat" Kohli

In [54]:
a="ashish"
#a[0]='1'

## List

In [55]:
l = ["ashish",7,"hi"]

In [56]:
l

['ashish', 7, 'hi']

In [57]:
"as" in ["ashish","ash"]

False

In [58]:
l[0]="goyal"

In [59]:
l

['goyal', 7, 'hi']

In [60]:
l.insert(1,"ashish")

In [61]:
l

['goyal', 'ashish', 7, 'hi']

In [62]:
l.append("hello")

In [63]:
l

['goyal', 'ashish', 7, 'hi', 'hello']

In [64]:
l1=["a","b"]
l2=["c","d"]
l1.extend(l2)
print(l1,l2)

['a', 'b', 'c', 'd'] ['c', 'd']

In [65]:
l1.remove('a')
l1

['b', 'c', 'd']

In [66]:
l1.pop(2)

'd'

In [67]:
l1

['b', 'c']

In [68]:
del l1[0]

In [69]:
l1

['c']

In [70]:
li=[1,2,3,4]
for i in li:
    print(i,end=' ')

1 2 3 4

In [71]:
#list comprehension

#example: need only even number from the list

#2 options

numbers=[1,2,3,4,5,6]
even_number=[]
for i in numbers:
    if i%2==0:
        even_number.append(i)
        
print(even_number)

[2, 4, 6]

In [72]:
print([x for x in numbers if x%2==0])

[2, 4, 6]

In [73]:
print([x if x%2==0 else 0 for x in numbers])

[0, 2, 0, 4, 0, 6]

In [74]:
sort_ex=[3,1,4,10,2,1]
sort_ex.sort()
sort_ex

[1, 1, 2, 3, 4, 10]

In [75]:
sort_ex=[3,1,4,10,2,1]
sort_ex.sort(reverse=True)
sort_ex

[10, 4, 3, 2, 1, 1]

In [76]:
#Sort the list based on how close the number is to 50:
def Customizefunc(num):
  return abs(num - 50)

mylist = [100, 50, 65, 82, 23]
mylist.sort(key = Customizefunc)
print(mylist)

[50, 65, 23, 82, 100]

In [77]:
#copy
l1=[1,2]
l2=[3,4]
l3=l2
print(l2,l3)
l2[0]=5
print(l2,l3)

[3, 4] [3, 4]
[5, 4] [5, 4]

In [78]:
l4=l2.copy()

In [79]:
print(l2,l4)

[5, 4] [5, 4]

In [80]:
l2[0]=7

In [81]:
print(l2,l4)

[7, 4] [5, 4]

## Tuple

In [82]:
tup=(1,2,3)
print(tup)
print(type(tup))

(1, 2, 3)
<class 'tuple'>

In [83]:
tup[0]

1

In [84]:
tup.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [85]:
#can't change, add, or remove items once the tuple is created.

In [86]:
for i in tup:
    print(i)

1
2
3

## Set

In [87]:
a={1,2,3}
print(a)
b={1,2,1}
print(b)

{1, 2, 3}
{1, 2}

In [88]:
b.add("a")
print(b)

{1, 2, 'a'}

In [89]:
b.update(a)

In [90]:
b

{1, 2, 3, 'a'}

In [91]:
b.remove(2)

In [92]:
b

{1, 3, 'a'}

In [93]:
for x in b:
    print(x)

1
a
3

In [94]:
s1={1,2,3,4}
s2={4,5,6,7}
#union
print(s1)
print(s2)
s3=s1.union(s2)
print(s3)
#intersection
s4=s2.intersection(s1)
print(s4)
#
s5=s1.symmetric_difference(s2)
print(s5)
#set diff
s6=s1-s2
print(s6)
#set diff
s7=s1.difference(s2)
print(s7)

{1, 2, 3, 4}
{4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3, 5, 6, 7}
{1, 2, 3}
{1, 2, 3}

## Dictionary

In [95]:
d = {1:2,"a":"ashish"}

In [96]:
d

{1: 2, 'a': 'ashish'}

In [97]:
i=d['a']

In [98]:
i

'ashish'

In [99]:
d.keys()

dict_keys([1, 'a'])

In [100]:
d.values()

dict_values([2, 'ashish'])

In [101]:
if 'a' in d:
    print("yes")

yes

In [102]:
d[1]=3

In [103]:
d

{1: 3, 'a': 'ashish'}

In [104]:
d[2]=4

In [105]:
d

{1: 3, 'a': 'ashish', 2: 4}

In [106]:
del d[2]

In [107]:
d

{1: 3, 'a': 'ashish'}

In [108]:
d.pop(1)

3

In [109]:
d

{'a': 'ashish'}

In [110]:
for i in d:
    print(i,d[i])

a ashish

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered and unindexed. No duplicate members.

**Dictionary** is a collection which is changeable. No duplicate members.

In [111]:
#grab the word "ashish" **

In [112]:
lst = [1,2,[3,4],[5,[10,210,['ashish']],213,11],1,7]

In [113]:
lst[3][1][2][0]

'ashish'

In [114]:
d = {'key1':[1,2,3,{'k':['A','ABC','ABCD',{'A':[1,2,3,'ashish']}]}]}

In [115]:
d['key1'][3]['k'][3]['A'][3]

'ashish'

## If..Else elif

In [116]:
if 2>3:
    print("2>3")
else:
    print("2 is less than 3")

2 is less than 3

In [117]:
#same indentation should be there for if elif and else

In [118]:
a=1
b=2
c=3
if(a>b):
    print("a>b")
elif(b>a):
    print("b>a")
else:
    print("11")

b>a

In [149]:
'''and or etc logical operatot
nested if
pass statement'''

'and or etc logical operatot\nnested if\npass statement'

## While

In [120]:
i=1
while(i<10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [121]:
i=1
while(i<10):
    print(i)
    if(i==7):
        break
    i+=1

1
2
3
4
5
6
7

In [122]:
i=0
while(i<10):
    i+=1
    if(i==7):
        continue
    print(i)

1
2
3
4
5
6
8
9
10

In [123]:
"""i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")"""

'i = 1\nwhile i < 6:\n  print(i)\n  i += 1\nelse:\n  print("i is no longer less than 6")'

## For Loop

In [124]:
f=[1,2,3]
for x in f:
    print(x)

1
2
3

In [125]:
for x in "ashish":
    print(x)

a
s
h
i
s
h

In [126]:
f=[1,2,3]
for x in f:
    print(x)
    if(x==1):
        break

1

In [127]:
f=[1,2,3]
for x in f:
    if(x==1):
        continue
    print(x)

2
3

In [128]:
for r in range(1,18,3):
    print(r)

1
4
7
10
13
16

In [ ]:
'''for x in range(6):
    print(x)
else:
    print("Finally finished!")'''

In [ ]:
'''for x in range(6):
    if x == 3: 
        break
    print(x)
else:
    print("Finally finished!")'''

In [ ]:
#nested loops

In [129]:
a=[4,6,1,8,2,5,3]
for i in range(len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            a[j],a[j+1]=a[j+1],a[j]
print(a)

[1, 2, 3, 4, 5, 6, 8]

## Functions

In [130]:
def function():
    print("i am a function")

In [131]:
function()

i am a function

In [132]:
def func_arguments(name):
    print("Hi "+name)

In [133]:
func_arguments("ashish")

Hi ashish

In [134]:
def f1(t1,*names,t2):
    print(names[0],names[1],t1,t2)

In [135]:
f1("a","b","c",t2=4)

b c a 4

In [136]:
def f2(t1,default_param="Hi"):
    print(default_param,t1)

f2("hello","ashish")

ashish hello

In [137]:
def f3(lis):
    print(lis)
f3([1,23])

[1, 23]

In [138]:
def add(a,b):
    return a+b,a,b

print(add(2,3))

(5, 2, 3)

In [139]:
def f5():
    pass

In [140]:
f5()

In [141]:
#recursion

In [142]:
def fact(x):
    if x == 1:
        return 1
    else:
        return (x * fact(x-1))
num = 3
print("num = ", num, ",factorial =", fact(num))

num =  3 ,factorial = 6

In [ ]:
#lambda function: anonymous function

In [143]:
lamb = lambda a,b : a*b

In [144]:
lamb(2,7)

14

In [ ]:
'''The lambda functions are useful when we want to give the 
function as one of the arguments to another function. 
We can pass the lambda function without assigning it to 
a variable, as an anonymous function as an argument to 
another function.'''

In [ ]:
'''Without using Lambda: 
    Here, both of them return the cube of a given number. 
    But, while using def, we needed to define a function
    with a name cube and needed to pass a value to it. 
    After execution, we also needed to return the result 
    from where the function was called using the return 
    keyword.
Using Lambda:
    Lambda definition does not include a return 
    statement, it always contains an expression that is 
    returned. We can also put a lambda definition 
    anywhere a function is expected, and we dont have to 
    assign it to a variable at all. This is the simplicity
    of lambda functions.'''

## Map

In [ ]:
#map(fun,iter)

#return map object
#after applying given function to each item of a given iterable

In [151]:
t= list(map(int,input().split()))

1 2

In [152]:
num=[1,2,3]
res = map(lambda x: x*4, num)
print(list(res))

[4, 8, 12]

In [153]:
names=['abC','dEF']
lower_names=map(lambda x: x.lower(),names)
print(list(lower_names))

['abc', 'def']

## Filter

In [ ]:
#The filter() method filters the given sequence with the 
#help of a function that tests each element in the 
#sequence to be true or not.

In [ ]:
#filter(function, sequence)

In [ ]:
'''function: function that tests if each element of a 
sequence true or not.'''

In [154]:
seq = [0, 1, 2, 3, 5, 8, 13]
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

In [155]:
i="ashish"
i=list(i)
out=list(filter(lambda x: x in ['a','e','i','o','u'],i))
final=''.join(out)

In [156]:
out

['a', 'i']

In [157]:
final

'ai'

## Reduce

In [ ]:
#reduce(fun,seq)

In [ ]:
'''Working : 

At first step, first two elements of sequence are picked and the result is obtained.
Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.'''

In [158]:
from functools import reduce
lis = [ 1 , 3, 5, 6, 2 ]
print ("The maximum element of the list is : ",end="")
print (reduce(lambda a,b : a if a > b else b,lis))

The maximum element of the list is : 6

In [159]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print (sum)

193

In [ ]:
########### not for tech forum #############

## Python OOPS

In [ ]:
#className.x  #class object = 1 # normal object =many

In [ ]:
class Person:
    def __init__(self, name, age): 
        #print(self)
        self.name = name
        self.age = age
    def f2(self):
        print("hi "+self.name)
    def printDetail(self):
        print("age: ",self.age," name: ",self.name)
p1 = Person("John", 36)

print(p1.name)
print(p1.age)
p1.f2()

In [ ]:
#modify properties
p1.printDetail()
p1.age=21
p1.printDetail()

In [ ]:
p1.extra=1

In [ ]:
#del p1.age

In [ ]:
#p1.printDetail()

In [ ]:
#del p1

In [ ]:
#p1

In [ ]:
'''Class and Instance Variables (Or attributes) 
In Python, instance variables are variables whose value is 
assigned inside a constructor or method with self. 
Class variables are variables whose value is assigned in class.'''

In [ ]:
# Python program to show that we can create
# instance variables inside methods

# Class for Computer Science Student
class CSStudent:
	
	# Class Variable
	stream = 'cse'	
	
	# The init method or constructor
	def __init__(self, roll):
		
		# Instance Variable
		self.roll = roll		

	# Adds an instance variable
	def setAddress(self, address):
		self.address = address
	
	# Retrieves instance variable
	def getAddress(self):
		return self.address

# Driver Code
a = CSStudent(101)
a.setAddress("Noida, UP")
print(a.getAddress())

In [ ]:
# 3 types of method
class MyClass:
    a=1
    def method(self):
        return 'instance method called', self

    @classmethod
    def classmethod(cls):
        return 'class method called', cls

    @staticmethod
    def staticmethod():
        return 'static method called'

In [ ]:
m1=MyClass()
m1.method()

In [ ]:
m1.classmethod()

In [ ]:
m1.staticmethod()

In [ ]:
'''
We generally use class method to create factory methods. Factory methods return class object ( similar to a constructor ) for different use cases.
We generally use static methods to create utility functions
'''

In [ ]:
# Python program to demonstrate
# use of class method and static method.
from datetime import date

class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age
	
	# a class method to create a Person object by birth year.
	@classmethod
	def fromBirthYear(cls, name, year):
		return cls(name, date.today().year - year)
	
	# a static method to check if a Person is adult or not.
	@staticmethod
	def isAdult(age):
		return age > 18

person1 = Person('mayank', 21)
person2 = Person.fromBirthYear('mayank', 1996)

print (person1.age)
print (person2.age)

# print the result
print (Person.isAdult(22))